- attributes.each do |attribute|
  - if attribute.association?
    = form.association attribute.name
  - else
    = form.input attribute.name

- content_for :actions do
  = form.button :submit, :class => 'btn btn-primary'
