- collection = collection_for controller

%table.index.table{:class => BootstrapAdmin.ui_styles[:index]}
  %thead
    %tr
      - attributes.each do |attribute|
        %th= attribute.human_name
      %th.actions= t(:actions)
  %tbody
    - collection.each do |item|
      %tr
        - attributes.each do |attribute|
          %td= render_field item, attribute.to_s

        %td.actions
          = index_actions_for item
