.row
  .pull-right
    = form_tag bootstrap_url, :method => :get, :class=>"search bootstrap_admin" do
      .input-group
        - unless params[:q].blank?
          %span.input-group-btn
            %button.btn.btn-default.append.reset{:type=>"button"}
              %span{:class=>"glyphicon glyphicon-remove"}
        = text_field_tag "q", params[:q], :placeholder => I18n.t("placeholder.search"), :class=>"form-control"
        %span.input-group-btn    
          %button.btn.btn-default.append.search{:type=>"button"}
            %span{:class=>"glyphicon glyphicon-search", :style=>"padding-top:3px;color:#2D6CA2;"}

  .clear