= form_tag bootstrap_url, :method => :get, :class=>"search bootstrap_admin" do
  .input-append{:class => params[:q].blank? ? "" : "input-prepend"}
    - unless params[:q].blank?
      .add-on.prepend.btn.reset= image_tag "cross.gif"
    = text_field_tag "q", params[:q], :placeholder => I18n.t("placeholder.search")
    .add-on.append.btn.search= image_tag "search_btn.png"
.clear
