.navbar.navbar-fixed-top
  .navbar-inner
    .container.nav-collapse
      .pull-left
        = render 'admin/shared/app_name'
      = bootstrap_admin_menu
      = render 'admin/shared/login_area'
.nav_fillup
