.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand(href="/admin")= t "app_name"
      .container.nav-collapse
        = bootstrap_admin_menu
        = render 'admin/shared/login_area'
.nav_fillup